.img-featured img{
    width: 100%;
    padding: 5%;
}

.img-featured {
    background-color: #913c21;
}

.img-hemosphere img{
    width: 100%;
    padding: 5%;
}
.img-hemosphere {
    margin-bottom: 20px;
    background-color: #913c21;
}


tr {
    text-align: center !important;
}

.center{
    text-align: center;
    padding-top: 5px;
}

.body {
    background-color: black;
}

.container {
    color: white;
    text-align: center;
}